@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {


  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
  }

  @layer base {
    :root {
      --color-ligtest: #ffffff;
      --color-light: #f5f9fe;
      --color-brand: #70a7ff;
      --color-mid: #35539a;
      --color-dark: #304065;
      --color-darkest: #0f172a;
      --color-black: #000000;
      --color-star: #ffc700;
      --color-hero-section-semi-opacity: rgba(0, 0, 0, 0.7);
      --color-background-top-bar: #304065;
      --color-background-navbar: #ffffff;
      --color-background-main: #ffffff;
      --color-background-secondary: #f5f9fe;
      --color-etoile: #ffc700;
      --color-text-primary: #0f172a;
      --color-text-secondary: #ffffff;
      --color-text-tertiary: #70a7ff;
      --color-text-quaternary: #304065;

      --color-background-hero: #000000;
      --color-background-badge: #35539a;
      --color-background-badge-tertiary: rgba(48, 64, 101, 50);
      --color-background-badge-secondary: #f5f9fe;

      --color-background-main-button: #304065;
      --color-background-secondary-button: #70a7ff;

      --color-brand-text: var(--color-text-quaternary);

      --color-border-primary: #0f172a;
      --color-border-secondary: #70a7ff;


    }

    

  }

}